openapi: 3.2.0
info:
  title: Lighter Root API
  version: ''
servers:
- url: https://mainnet.zklighter.elliot.ai
tags:
- name: Root
paths:
  /:
    get:
      summary: status
      operationId: status
      tags:
      - Root
      description: Get status of zklighter
      responses:
        '200':
          description: A successful response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Status'
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResultCode'
  /info:
    get:
      summary: info
      operationId: info
      tags:
      - Root
      description: Get info of zklighter
      responses:
        '200':
          description: A successful response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ZkLighterInfo'
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResultCode'
components:
  schemas:
    ResultCode:
      type: object
      properties:
        code:
          type: integer
          format: int32
          example: '200'
        message:
          type: string
      title: ResultCode
      required:
      - code
    ZkLighterInfo:
      type: object
      properties:
        contract_address:
          type: string
          example: '0x70997970C51812dc3A010C7d01b50e0d17dc79C8'
      title: ZkLighterInfo
      required:
      - contract_address
    Status:
      type: object
      properties:
        status:
          type: integer
          format: int32
          example: '1'
        network_id:
          type: integer
          format: int32
          example: '1'
        timestamp:
          type: integer
          format: int64
          example: '1717777777'
      title: Status
      required:
      - status
      - network_id
      - timestamp
  securitySchemes:
    apiKey:
      type: apiKey
      description: Enter JWT Bearer token **_only_**
      name: Authorization
      in: header
